.container{
   display: flex;
   justify-content: center;
}

.container .card{
    margin-top: 100px;
    width: 35%;
}

.contact-form{
    display: flex;
    flex-direction: column;  
}

@media (max-width: 425px){
    .container .card{
        margin-top: 100px;
        width: 80%;
    }
 }