.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container .card {
  margin-top: 100px;
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container .card {
    margin-top: 100px;
    width: 80%;
  }
}
