<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h2>Calculadora</h2>

      <form class="calculator-form" action="">
        <mat-form-field>
          <mat-label>Primeiro Número</mat-label>
          <input
            required
            type="number"
            [(ngModel)]="first"
            name="first"
            matInput
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Operação</mat-label>
          <mat-select [(ngModel)]="ope" name="ope" required>
            <mat-option *ngFor="let ope of operations" [value]="ope.value">
              {{ ope.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Segundo Número</mat-label>
          <input
            required
            type="number"
            [(ngModel)]="last"
            name="last"
            matInput
          />
        </mat-form-field>

        <button
          mat-raised-button
          (click)="calculator()"
          (click)="showValue()"
          color="primary"
        >
          Calcular
        </button>

        <div class="awnser">
          {{ value }}
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
