.container{
    display: flex;
    justify-content: center;
 }
 
 .container .card{
     margin-top: 100px;
     width: 35%;
 }
 
 .login-form{
     display: flex;
     flex-direction: column;  
     justify-content: center;
 }

 .mensagem-login{
    text-align: center;
    color: red;
    font-weight: 200px;
    font-size: medium;
    margin-block: 10px;
 }

 @media (max-width: 425px){
    .container .card{
        margin-top: 100px;
        width: 80%;
    }
 }